.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size:20px;

    &_title{
        font-weight: 700;
    }
    
    &_icon{
        display: flex;
        &-checked{
            margin-right:10px;
        }
        &-checked, &-clear{
            padding: 15px;
            width:40px;
            height: 40px;
            display: flex;
            background-color: #3a7bd5;
            justify-content: center;
            align-items: center;
            border-radius:50%;
            cursor: pointer;
            color: #000;
        }
    }
}